@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Inter',sans-serif;
}

body{
    background:#060606;
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:30px;
}

/* MAIN CONTAINER */

.container{
    width:1100px;
    height:650px;

    display:flex;

    border-radius:35px;
    overflow:hidden;

    background:#120907;

    box-shadow:
    0 40px 80px rgba(0,0,0,0.6);
}

/* LEFT SIDE */

.left-box{
    flex:1;

    position:relative;

    padding:45px;

    background:linear-gradient(
        135deg,
        #5577ee,
        #5577ee
    );
}

.logo{
    color:white;
    font-size:14px;
    font-weight:700;
    letter-spacing:1px;
}

.shoe{
    width:520px;

    position:absolute;

    top:50%;
    left:50%;

    transform:
    translate(-40%, -50%)
    rotate(-12deg);

    filter:drop-shadow(
    0 30px 40px rgba(0,0,0,0.5));
}

.left-text{
    position:absolute;
    bottom:45px;
    left:45px;
}

.left-text h1{
    color:black;

    font-size:42px;
    font-weight:900;

    line-height:1.1;
}

/* RIGHT SIDE */

.right-box{
    flex:1;

    background:#090a14;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:60px;
}

.form-container{
    width:100%;
}

.form-container h2{
    color:white;

    font-size:42px;
    font-weight:800;

    margin-bottom:10px;
}

.subtitle{
    color:#8f8f8f;

    margin-bottom:45px;
}

/* FORM */

.row{
    display:flex;
    gap:20px;
}

.input-box{
    position:relative;
    margin-bottom:30px;
    flex:1;
}

.input-box i{
    position:absolute;

    left:0;
    top:50%;

    transform:translateY(-50%);

    color:#8d8d8d;
}

.input-box input{
    width:100%;

    background:transparent;

    border:none;
    border-bottom:1px solid rgba(255, 255, 255, 0.15);

    padding:14px 0 14px 30px;

    color:white;
    font-size:15px;

    outline:none;

    transition:0.3s;
}

.input-box input:focus{
    border-color:#33478f;
}

.input-box input:focus + i{
    color:#33478f;
}

input::placeholder{
    color:#777;
}

/* BUTTON */

button{
    width:100%;

    padding:17px;

    border:none;
    border-radius:14px;

    background:#4d6bd6;

    color:white;

    font-size:15px;
    font-weight:700;

    cursor:pointer;

    margin-top:10px;

    transition:0.3s;
}

button:hover{
    transform:translateY(-3px);

    background:#4d6bd6;
}

/* LOGIN */

.login{
    text-align:center;

    color:#8f8f8f;

    margin-top:25px;

    font-size:14px;
}

.login a{
    color:white;
    text-decoration:none;
    font-weight:600;
}